/.vs
.vs
bin
obj
*.v2
/.vs/Inventory/DesignTimeBuild/.dtbcache.v2
/Inventory/obj/Debug/net6.0/*.txt
/Inventory.Domain/obj/Debug/net6.0/*.cache
*.cache
*.suo
.futdcache.v1
fileList.bin
Inventory.csproj.AssemblyReference.cache
/Inventory/bin/Debug/net6.0/*.dll
/Inventory/bin/Debug/net6.0/*.pdb
/Inventory/obj/Debug/net6.0/*.cache
/Inventory/obj/Debug/net6.0/*.dll
/Inventory/obj/Debug/net6.0/*.pdb
/Inventory/Logs
*.dll
*.pdb
Inventory.Domain.csproj.FileListAbsolute.txt
/Inventory/obj/Debug/net6.0/project.razor.json
/Inventory/Logs/*.txt
