@model Inventory.Models.ProductType

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input id="TypeName" name="TypeName"  class="form-control" />
            </div>
            <div class="form-group">
                <input id="Description" name="Description" class="form-control" />
            </div>

        </form>
    </div>
</div>

<button id="btn" onclick="addRow()"> Click me </button>
<br>
<br>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@
<table class="table">
    <thead>
        <tr>
            <th>
                Type Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        <tr>
           
        </tr>
    </tbody>
</table>


@section Scripts {
   <script>
    // Define the addRow function in the global scope
    function addRow() {
        // Get the table body element in which you want to add a row
        let table = document.getElementById("tableBody");

        // Create a new row
        let row = table.insertRow();

        // Create cells
        let cell1 = row.insertCell(0);
        let cell2 = row.insertCell(1);
        let cell3 = row.insertCell(2);

        // Get the values from the input fields
        let typeNameValue = document.getElementById("TypeName").value;
        let descriptionValue = document.getElementById("Description").value;

        // Insert data into cells
        cell1.innerText = typeNameValue;
        cell2.innerText = descriptionValue;
        
        // Create a "Remove" button
        let removeButton = document.createElement("button");
        removeButton.type = "button";
        removeButton.innerText = "Remove";

       // Add a click event handler to remove the row when the button is clicked
       removeButton.addEventListener("click", function () 
       // Remove the current row
       table.deleteRow(row.rowIndex);
              });
        // Append the "Remove" button to the third cell
        cell3.appendChild(removeButton);

        // Clear the input fields if needed
        document.getElementById("TypeName").value = "";
        document.getElementById("Description").value = "";
    }
</script>


}
