@model Inventory.Models.Vendor
@{
    var title = "Create Vendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-default color-palette-box">
    <div class="card-body">
        <form method="post" asp-action="Upsert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Id != 0)
            {
                <input type="hidden" asp-for="Id" />
                title = "Edit Vendor";
            }
            <div class="col-12">
                <h2 class="text-primary">@title</h2>
                <br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VendorName" class="control-label"></label>
                        <input asp-for="VendorName" class="form-control" />
                        <span asp-validation-for="VendorName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VendorTypeId" class="control-label"></label>
                        <input name="SelectedVendorTypeId" id="SelectedVendorTypeId" value="@Model.VendorTypeId" class="d-none" />
                        <select asp-for="VendorTypeId" class="form-control">
                            <option value=""></option>
                        </select>
                     
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="State" class="control-label"></label>
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ZipCode" class="control-label"></label>
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
       

            <div class="row">
                 <div class="col-md-6">
                     <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                     </div>
                 </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="ContactPerson" class="control-label"></label>
                    <input asp-for="ContactPerson" class="form-control" />
                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                </div>
            </div>
     
              
                       
                <div class="form-group row">
                <div class="col-md-12">
                        @if (Model.Id != 0)
                        {
                            <partial name="_EditAndBackToListButton" model="Model.Id" />
                        }
                        else
                        {
                            <partial name="_CreateAndBackToListButton" />
                        }
                    </div>
                </div>
            
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            loadVendorType();
        });

        function loadVendorType() {
            $.ajax({
                url: "/VendorTypes/GetAll",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    // Log the response data to the console
                    console.log(data.data);

                    // Get a reference to the select element
                    var selectElement = $("#VendorTypeId");
                    var selectedValue = $("#SelectedVendorTypeId").val();

                    // Clear existing options
                    selectElement.empty();

                    // Add a default "Select Customer Type" option
                    selectElement.append('<option value="" disabled selected>--Select Vendor Type--</option>');

                    // Loop through the data and append options
                    $.each(data.data, function (index, item) {
                        if (item.vendorTypeId == selectedValue) {
                            selectElement.append('<option selected value="' + item.vendorTypeId + '">' + item.vendorTypeName + '</option>');

                        } else {
                            selectElement.append('<option value="' + item.vendorTypeId + '">' + item.vendorTypeName + '</option>');

                        }
                    });
                },
                error: function (xhr, status, error) {
                    // Handle any errors here
                    console.error("Error: " + error);
                }
            });
        }
    </script>
}
